In [1]:
import os
import pandas as pd
from textblob import *
import nltk
import numpy as np
import openpyxl
from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer
from textblob import *
from sklearn.feature_extraction.text import TfidfVectorizer
from nltk.corpus import stopwords






data = pd.read_csv("tftest.csv")
data

,title,text,flag
0,Barca's Valverde skirts independence debate as...,"MADRID, (Reuters) - Barcelona boss Ernesto Val...",1.0
1,"Alleged Kenyan police killing of girl, baby in...",NAIROBI (Reuters) - Kenya s police monitor sai...,1.0
2,Father Of Orlando Shooter Says His Son Got An...,The shooter responsible for a mass shooting th...,0.0
3,U.N. seeks humanitarian pause in Sanaa where s...,GENEVA (Reuters) - The United Nations called o...,1.0
4,FBI WARNS Of Potential Terror Attack At SUPER ...,Wouldn t it be great if the Obama administrati...,0.0
...,...,...,...
995,Factbox: Who will Trump pick to lead the Feder...,(Reuters) - U.S. President Donald Trump has in...,1.0
996,Battle over bathrooms looms large in North Car...,"WINSTON-SALEM, N.C. (Reuters) - In a year of p...",1.0
997,Trump dismisses Buffett's rebuke over his busi...,WASHINGTON (Reuters) - U.S. Republican preside...,1.0
998,"Trump may have stopped the bleeding, but not t...",WASHINGTON (Reuters) - Donald Trump may have ...,1.0
999,Indonesia prepares to divert Bali-bound flight...,JAKARTA (Reuters) - Indonesian authorities are...,1.0

In [ ]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(data[["title", "text"]], data["flag"], test_size=0.15, random_state=42)

x_test

,title,text
643,Trump FURIOUS After New Poll DEVASTATES His C...,"NBC News third post-leaked audio, post-second ..."
158,Palestinian killed in Gaza clashes over Trump'...,GAZA (Reuters) - Israeli soldiers shot dead a ...
977,"Mike Pence Abruptly Bails On PBS Interview, C...",If Donald Trump and his team are trying to pre...
429,Two Republican senators seek to slash legal U....,WASHINGTON (Reuters) - Two Republican senators...
941,Factbox: Quick action Trump could take on ener...,"(Reuters) - Donald Trump, a big supporter of t..."
...,...,...
106,U.S. believes current North Korea nuclear thre...,WASHINGTON (Reuters) - White House Chief of St...
270,Republican senator criticizes Trump tax plan,"WASHINGTON (Reuters) - U.S. Senator Rand Paul,..."
860,MULTIPLE FBI OFFICES Investigated Clinton Foun...,"A stunning story of corruption, cronyism and c..."
435,Danny Glover Is Appalled That Trump Is Time M...,"The nation was in an uproar on Wednesday, afte..."
102,BREAKING: A HUGE DEAL! Putin Suspends Nuclear ...,The Obama administration has done everything ...

   0  1
0  1  4
1  2  5
2  3  6